/* .sideber{
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--body-color);
    border-right: 1px solid var(--box-color);
}
.nav_logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--skin-color);
    text-align: center;
    margin: auto;
}
.nav_logo-text{
    font-size: 1.125rem;
    color: white;
    font-weight: var(--font-bold);
    line-height: 40px;
    text-decoration: none;
}

.nav_menu{
    position: fixed;
    transform: rotate(-90deg) translate(-100%);
    transform-origin: left top;
    width: 100vh;
}
.menu{
    display: flex;

}
.nav_list{
    display: flex;
    flex-direction:row-reverse ;
    margin: -2px auto 0 auto;
}

.btn_share{
    position: absolute;
    bottom: 1.8rem;
    left: 0;
    right: 0;
   text-align: center;
    color: #fff;
}

.social_share{
    font-size: 1.5rem;
}



.nav_link{
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 1rem;
    color: #fff;
    font-weight: var(--font-medium);
    position: relative;
   text-decoration:none;
   transition: .4s;
  
}
.nav_link.active_link, .nav_link:hover{
    color: var(--skin-color);
}
.nav_link.active_link::after,.nav_link:hover::after{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--skin-color);
    border-radius: 50%;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;
}
@media screen and (max-width:350px) {
  
} */


